<% layout('layouts/boilerplate')%>
<div>
  <h1>Select your Category!</h1>
  <h2>Random 10 Questions</h2>
  <button id="tenQuestions" class="btn btn-success mb-3">Click to Start</button>
  <h2>All Questions</h2>
  <button id="allQuestions" class="btn btn-success mb-5">Click to Start</button>
  <h1>Individual Categories:</h1>
  <h2>Principles of American Government</h2>
  <button id="principlesQuestions" class="btn btn-success mb-3">
    Click to Start
  </button>
  <h2>System of Government</h2>
  <button id="systemQuestions" class="btn btn-success mb-3">
    Click to Start
  </button>
  <h2>Rights and Responsibilities</h2>
  <button id="rightsQuestions" class="btn btn-success mb-3">
    Click to Start
  </button>
  <h2>Colonial Period and Independance</h2>
  <button id="colonialQuestions" class="btn btn-success mb-3">
    Click to Start
  </button>
  <h2>1800's</h2>
  <button id="eighteenQuestions" class="btn btn-success mb-3">
    Click to Start
  </button>
  <h2>Recent American History</h2>
  <button id="recentQuestions" class="btn btn-success mb-3">
    Click to Start
  </button>
  <h2>Symbols and Holidays</h2>
  <button id="symbolsQuestions" class="btn btn-success mb-3">
    Click to Start
  </button>
</div>

<script src="/javascripts/startpage.js"></script>
